.listContainer{
  background-color: #f8f8f8;
}

.title {
  font-size: 24px;
  text-align: center;
}

.input{
  width: 30em;
  height: 2em;
}

.header{
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.productBox {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

@media (min-width: 576px) {
  .productBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .productBox {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .productBox {
    grid-template-columns: repeat(4, 1fr);
  }
}

.productItem {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.productTitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.productDescription {
  margin-bottom: 10px;
}

.productPrice,
.productStock {
  margin-bottom: 5px;
}

.productImageBox{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.productImage {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
  border-radius: 8px;
}

.viewDetailsButton, .buttonCart {
  display: block;
  margin-top: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}
.pagination {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #f2f2f2;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 5px;
  padding: 8px 16px;
}

.pagination .active {
  background-color: green;
  color: white;
}
  
  